@font-face {
  font-family: 'Consolas';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Consolas';
  font-weight: 700;
  font-style: italic;
}

/* Apply Consolas globally */
body {
  font-family: 'Consolas', monospace;
}
